# -----------------------
# Directories
# -----------------------
0_resources/
build/

# -----------------------
# IDE
# -----------------------
.vscode/

# -----------------------
# Python
# -----------------------
venv/